.brands {
  display: grid;
  grid-template-columns: repeat(7, 14%);
  grid-template-rows: repeat(2, 10rem);
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-top: 3px solid var(--color-high-blue);
  border-bottom: 3px solid var(--color-high-blue);
  margin: 3rem 0;
  overflow: hidden;
  &__img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.7;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
    }
    &--scale7 {
      transform: scale(0.7);
    }
    &--scale8 {
      transform: scale(0.8);
    }
    &--scale9 {
      transform: scale(0.9);
    }
    &--heightFix {
      height: 99%;
    }
  }
  // Larger than 1400px
  @media only screen and (min-width: 87.5em) {
    grid-template-rows: repeat(2, 13rem);
  }
  // Less than 900px
  @media only screen and (max-width: 56.25em) {
    grid-template-rows: repeat(2, 8rem);
    &__img {
      opacity: 1;
    }
  }
  // Less than 600px
  @media only screen and (max-width: 37.5em) {
    margin-top: 0;
  }
  // Less than 400px
  @media only screen and (max-width: 25em) {
    grid-template-rows: repeat(2, 6rem);
    border-top: 1px solid var(--color-high-blue);
    border-bottom: 1px solid var(--color-high-blue);
  }
}
