.main {
  display: grid;
  grid-template-rows: 40rem 33rem 26rem;
  grid-template-columns: 40rem 40rem;
  row-gap: 6rem;
  column-gap: 10rem;
  margin: 4rem 0;
  padding: 4rem 0;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
  overflow: hidden;
}

.box {
  align-self: center;
  height: 100%;
  align-content: center;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  position: relative;
  color: var(--color-black);
  border: 3px solid var(--color-dark-blue);
  border-radius: 6px;
  padding: 3rem;
  row-gap: 3rem;
  overflow: hidden;
  box-shadow: 0 0 3rem var(--color-high-blue);

  &::before {
    content: '';
    width: 200%;
    height: 10rem;
    transform: rotate(-5deg) translateX(-20%);
    position: absolute;
    top: 5%;
    background-color: var(--color-dark-blue);
  }

  &--small {
    grid-column: 1 / 2;
    &1 {
      grid-row: 1 / 2;
      &::before {
        top: 9%;
      }
    }
    &2 {
      grid-row: 2 / 3;
    }
    &3 {
      grid-row: 3 / 4;
    }
  }
  &__icon {
    width: 6rem;
    height: 6rem;
    position: absolute;
    fill: var(--color-high-blue);
    opacity: 1;
    right: -3%;
    bottom: 4%;
    transform: rotate(-15deg) translateX(-50%);
    &--icon3 {
      width: 5rem;
      height: 5rem;
      bottom: 6%;
    }
  }

  &__heading {
    font-size: 6rem;
    font-weight: 200;
    text-align: center;
    color: #fff;
    z-index: 6;
  }

  &__text {
    font-weight: 700;
    z-index: 6;
  }

  // Large box properties
  &--large {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    justify-items: center;
    position: relative;
    display: grid;
    row-gap: 5rem;
    grid-template-rows: repeat(4, min-content);

    &::before {
      height: 12rem;
      top: 8%;
    }

    &__heading {
      padding: 3rem 0;
    }

    &--list {
      list-style-type: circle;
      grid-row: 2 / 3;
      z-index: 6;
    }
    &--item {
      font-weight: 700;
      padding: 0.5rem 0;
    }
    &--note {
    }
  }
  &__miniLogo {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 0;
    left: 5%;
    transform: rotate(-15deg);
    &__icon {
      position: absolute;
      width: 6rem;
      height: 6rem;
      fill: var(--color-high-blue);
      opacity: 1;

      &--1 {
        top: 3%;
        left: 50%;
        transform: translateX(-50%);
      }
      &--2 {
        top: 25%;
        left: -13%;
      }
      &--3 {
        top: 25%;
        right: -25%;
      }
    }
  }
}
// Larger than 1400px
@media only screen and (min-width: 87.5em) {
  .main {
    column-gap: 15rem;
  }

  .box {
    &--large {
      &::before {
        top: 10%;
      }
    }
  }
}
// Less than 1100px
@media only screen and (max-width: 68.75em) {
  .main {
    column-gap: 8rem;
  }
}
// Less than 900px
@media only screen and (max-width: 56.25em) {
  .main {
    grid-template-columns: 55rem;
    grid-auto-columns: 0;
    grid-template-rows: 35rem 33rem 26rem;
    grid-template-rows: repeat(auto-fit, min-content);
  }
  .box {
    &--small {
      &1 {
        &::before {
          top: 7%;
        }
      }
      &2 {
        &::before {
          top: 8%;
        }
      }
    }
    &--large {
      grid-column: 1 / 2;
      grid-row: 4 / 5;

      &::before {
        top: 5%;
      }
    }
    &__miniLogo {
      top: 20%;
      left: 75%;
      transform: rotate(15deg);
    }
  }
}
// Less than 600px
@media only screen and (max-width: 37.5em) {
  .main {
    grid-template-columns: 40rem;
    row-gap: 4rem;
    margin: 0;
  }

  .box {
    &__icon {
      &--icon1 {
        width: 4rem;
        height: 4rem;
      }
    }
    &--small {
      &1 {
        &::before {
          top: 4%;
        }
      }
      &2 {
        &::before {
          top: 6%;
        }
      }
    }
    &--large {
      row-gap: 3rem;
    }
    &__miniLogo {
      top: 18%;
      left: 65%;
    }
  }
}
// Less than 400px
@media only screen and (max-width: 25em) {
  .main {
    grid-template-columns: 30rem;
    row-gap: 3rem;
  }

  .box {
    padding: 1rem;
    box-shadow: 0 0 1rem var(--color-high-blue);
    border: 1px solid var(--color-dark-blue);
    &::before {
      height: 8rem;
    }
    &__text {
      font-weight: 400;
    }
    &__heading {
      font-size: 4rem;
    }
    &--large {
      &::before {
        top: 4%;
      }
      &--note {
        text-align: justify;
        padding: 0 2rem;
        &:not(:first-of-type) {
          padding-bottom: 1rem;
        }
      }
      &--item {
        font-weight: 400;
        padding: 0;
      }
    }
    &__miniLogo {
      transform: rotate(40deg);
      top: 15%;
      &__icon {
        width: 4rem;
        height: 4rem;
        &--2 {
          left: 0;
        }
        &--3 {
          right: 0;
        }
      }
    }
  }
}
